<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <div class="mt-5">
            <h1 class="display-4 text-danger">Error</h1>
            <p class="lead">
                <%= message %>
            </p>
            <hr class="my-4">
            <a href="/" class="btn btn-primary">Go to Home</a>
        </div>
    </div>
</div>